@charset "UTF-8";
@-webkit-keyframes typed {
  /* string 1, char 1 */
  0%, 0.4399171076% {
    content: "E";
  }
  /* string 1, char 2 */
  0.4409171076%, 0.8808342152% {
    content: "En";
  }
  /* string 1, char 3 */
  0.8818342152%, 1.3217513228% {
    content: "En ";
  }
  /* string 1, char 4 */
  1.3227513228%, 1.7626684303% {
    content: "En c";
  }
  /* string 1, char 5 */
  1.7636684303%, 2.2035855379% {
    content: "En co";
  }
  /* string 1, char 6 */
  2.2045855379%, 2.6445026455% {
    content: "En cou";
  }
  /* string 1, char 7 */
  2.6455026455%, 3.0854197531% {
    content: "En cour";
  }
  /* string 1, char 8 */
  3.0864197531%, 3.5263368607% {
    content: "En cours";
  }
  /* string 1, char 9 */
  3.5273368607%, 3.9672539683% {
    content: "En cours ";
  }
  /* string 1, char 10 */
  3.9682539683%, 4.4081710758% {
    content: "En cours d";
  }
  /* string 1, char 11 */
  4.4091710758%, 4.8490881834% {
    content: "En cours de";
  }
  /* string 1, char 12 */
  4.8500881834%, 5.290005291% {
    content: "En cours de ";
  }
  /* string 1, char 13 */
  5.291005291%, 5.7309223986% {
    content: "En cours de c";
  }
  /* string 1, char 14 */
  5.7319223986%, 6.1718395062% {
    content: "En cours de cr";
  }
  /* string 1, char 15 */
  6.1728395062%, 6.6127566138% {
    content: "En cours de cré";
  }
  /* string 1, char 16 */
  6.6137566138%, 7.0536737213% {
    content: "En cours de créa";
  }
  /* string 1, char 17 */
  7.0546737213%, 7.4945908289% {
    content: "En cours de créat";
  }
  /* string 1, char 18 */
  7.4955908289%, 7.9355079365% {
    content: "En cours de créati";
  }
  /* string 1, char 19 */
  7.9365079365%, 8.3764250441% {
    content: "En cours de créatio";
  }
  /* string 1, char 20 */
  8.3774250441%, 8.8173421517% {
    content: "En cours de création";
  }
  /* string 1, char 21 */
  8.8183421517%, 9.2582592593% {
    content: "En cours de création.";
  }
  /* string 1, char 22 */
  9.2592592593%, 9.6991763668% {
    content: "En cours de création..";
  }
  /* string 1, char 23 */
  9.7001763668%, 19.3111693122% {
    content: "En cours de création...";
  }
  /* string 1, char 24 */
  19.3121693122%, 19.6639029982% {
    content: "En cours de création..";
  }
  /* string 1, char 25 */
  19.6649029982%, 20.0166366843% {
    content: "En cours de création.";
  }
  /* string 1, char 26 */
  20.0176366843%, 20.3693703704% {
    content: "En cours de création";
  }
  /* string 1, char 27 */
  20.3703703704%, 20.7221040564% {
    content: "En cours de créatio";
  }
  /* string 1, char 28 */
  20.7231040564%, 21.0748377425% {
    content: "En cours de créati";
  }
  /* string 1, char 29 */
  21.0758377425%, 21.4275714286% {
    content: "En cours de créat";
  }
  /* string 1, char 30 */
  21.4285714286%, 21.7803051146% {
    content: "En cours de créa";
  }
  /* string 1, char 31 */
  21.7813051146%, 22.1330388007% {
    content: "En cours de cré";
  }
  /* string 1, char 32 */
  22.1340388007%, 22.4857724868% {
    content: "En cours de cr";
  }
  /* string 1, char 33 */
  22.4867724868%, 22.8385061728% {
    content: "En cours de c";
  }
  /* string 1, char 34 */
  22.8395061728%, 23.1912398589% {
    content: "En cours de ";
  }
  /* string 1, char 35 */
  23.1922398589%, 23.543973545% {
    content: "En cours de";
  }
  /* string 1, char 36 */
  23.544973545%, 23.896707231% {
    content: "En cours d";
  }
  /* string 1, char 37 */
  23.897707231%, 24.2494409171% {
    content: "En cours ";
  }
  /* string 1, char 38 */
  24.2504409171%, 24.6021746032% {
    content: "En cours";
  }
  /* string 1, char 39 */
  24.6031746032%, 24.9549082892% {
    content: "En cour";
  }
  /* string 1, char 40 */
  24.9559082892%, 25.3076419753% {
    content: "En cou";
  }
  /* string 1, char 41 */
  25.3086419753%, 25.6603756614% {
    content: "En co";
  }
  /* string 1, char 42 */
  25.6613756614%, 26.0131093474% {
    content: "En c";
  }
  /* string 1, char 43 */
  26.0141093474%, 26.3658430335% {
    content: "En ";
  }
  /* string 1, char 44 */
  26.3668430335%, 26.7185767196% {
    content: "En";
  }
  /* string 1, char 45 */
  26.7195767196%, 27.0713104056% {
    content: "E";
  }
  /* string 1, char 46 */
  27.0723104056%, 31.4804814815% {
    content: "​";
  }
  /* string 2, char 1 */
  31.4814814815%, 31.9213985891% {
    content: "J";
  }
  /* string 2, char 2 */
  31.9223985891%, 32.3623156966% {
    content: "J'";
  }
  /* string 2, char 3 */
  32.3633156966%, 32.8032328042% {
    content: "J'e";
  }
  /* string 2, char 4 */
  32.8042328042%, 33.2441499118% {
    content: "J'en";
  }
  /* string 2, char 5 */
  33.2451499118%, 33.6850670194% {
    content: "J'en ";
  }
  /* string 2, char 6 */
  33.6860670194%, 34.125984127% {
    content: "J'en p";
  }
  /* string 2, char 7 */
  34.126984127%, 34.5669012346% {
    content: "J'en pr";
  }
  /* string 2, char 8 */
  34.5679012346%, 35.0078183422% {
    content: "J'en pro";
  }
  /* string 2, char 9 */
  35.0088183422%, 35.4487354497% {
    content: "J'en prof";
  }
  /* string 2, char 10 */
  35.4497354497%, 35.8896525573% {
    content: "J'en profi";
  }
  /* string 2, char 11 */
  35.8906525573%, 36.3305696649% {
    content: "J'en profit";
  }
  /* string 2, char 12 */
  36.3315696649%, 36.7714867725% {
    content: "J'en profite";
  }
  /* string 2, char 13 */
  36.7724867725%, 37.2124038801% {
    content: "J'en profite ";
  }
  /* string 2, char 14 */
  37.2134038801%, 37.6533209877% {
    content: "J'en profite p";
  }
  /* string 2, char 15 */
  37.6543209877%, 38.0942380952% {
    content: "J'en profite po";
  }
  /* string 2, char 16 */
  38.0952380952%, 38.5351552028% {
    content: "J'en profite pou";
  }
  /* string 2, char 17 */
  38.5361552028%, 38.9760723104% {
    content: "J'en profite pour";
  }
  /* string 2, char 18 */
  38.9770723104%, 39.416989418% {
    content: "J'en profite pour ";
  }
  /* string 2, char 19 */
  39.417989418%, 39.8579065256% {
    content: "J'en profite pour d";
  }
  /* string 2, char 20 */
  39.8589065256%, 40.2988236332% {
    content: "J'en profite pour dé";
  }
  /* string 2, char 21 */
  40.2998236332%, 40.7397407407% {
    content: "J'en profite pour déc";
  }
  /* string 2, char 22 */
  40.7407407407%, 41.1806578483% {
    content: "J'en profite pour déco";
  }
  /* string 2, char 23 */
  41.1816578483%, 41.6215749559% {
    content: "J'en profite pour décou";
  }
  /* string 2, char 24 */
  41.6225749559%, 42.0624920635% {
    content: "J'en profite pour découv";
  }
  /* string 2, char 25 */
  42.0634920635%, 42.5034091711% {
    content: "J'en profite pour découvr";
  }
  /* string 2, char 26 */
  42.5044091711%, 42.9443262787% {
    content: "J'en profite pour découvri";
  }
  /* string 2, char 27 */
  42.9453262787%, 43.3852433862% {
    content: "J'en profite pour découvrir";
  }
  /* string 2, char 28 */
  43.3862433862%, 43.8261604938% {
    content: "J'en profite pour découvrir ";
  }
  /* string 2, char 29 */
  43.8271604938%, 44.2670776014% {
    content: "J'en profite pour découvrir l";
  }
  /* string 2, char 30 */
  44.2680776014%, 44.707994709% {
    content: "J'en profite pour découvrir le";
  }
  /* string 2, char 31 */
  44.708994709%, 45.1489118166% {
    content: "J'en profite pour découvrir le ";
  }
  /* string 2, char 32 */
  45.1499118166%, 45.5898289242% {
    content: "J'en profite pour découvrir le S";
  }
  /* string 2, char 33 */
  45.5908289242%, 46.0307460317% {
    content: "J'en profite pour découvrir le SA";
  }
  /* string 2, char 34 */
  46.0317460317%, 46.4716631393% {
    content: "J'en profite pour découvrir le SAS";
  }
  /* string 2, char 35 */
  46.4726631393%, 46.9125802469% {
    content: "J'en profite pour découvrir le SASS";
  }
  /* string 2, char 36 */
  46.9135802469%, 47.3534973545% {
    content: "J'en profite pour découvrir le SASS ";
  }
  /* string 2, char 37 */
  47.3544973545%, 56.9654902998% {
    content: "J'en profite pour découvrir le SASS ✨";
  }
  /* string 2, char 38 */
  56.9664902998%, 57.3182239859% {
    content: "J'en profite pour découvrir le SASS ";
  }
  /* string 2, char 39 */
  57.3192239859%, 57.670957672% {
    content: "J'en profite pour découvrir le SASS";
  }
  /* string 2, char 40 */
  57.671957672%, 58.023691358% {
    content: "J'en profite pour découvrir le SAS";
  }
  /* string 2, char 41 */
  58.024691358%, 58.3764250441% {
    content: "J'en profite pour découvrir le SA";
  }
  /* string 2, char 42 */
  58.3774250441%, 58.7291587302% {
    content: "J'en profite pour découvrir le S";
  }
  /* string 2, char 43 */
  58.7301587302%, 59.0818924162% {
    content: "J'en profite pour découvrir le ";
  }
  /* string 2, char 44 */
  59.0828924162%, 59.4346261023% {
    content: "J'en profite pour découvrir le";
  }
  /* string 2, char 45 */
  59.4356261023%, 59.7873597884% {
    content: "J'en profite pour découvrir l";
  }
  /* string 2, char 46 */
  59.7883597884%, 60.1400934744% {
    content: "J'en profite pour découvrir ";
  }
  /* string 2, char 47 */
  60.1410934744%, 60.4928271605% {
    content: "J'en profite pour découvrir";
  }
  /* string 2, char 48 */
  60.4938271605%, 60.8455608466% {
    content: "J'en profite pour découvri";
  }
  /* string 2, char 49 */
  60.8465608466%, 61.1982945326% {
    content: "J'en profite pour découvr";
  }
  /* string 2, char 50 */
  61.1992945326%, 61.5510282187% {
    content: "J'en profite pour découv";
  }
  /* string 2, char 51 */
  61.5520282187%, 61.9037619048% {
    content: "J'en profite pour décou";
  }
  /* string 2, char 52 */
  61.9047619048%, 62.2564955908% {
    content: "J'en profite pour déco";
  }
  /* string 2, char 53 */
  62.2574955908%, 62.6092292769% {
    content: "J'en profite pour déc";
  }
  /* string 2, char 54 */
  62.6102292769%, 62.961962963% {
    content: "J'en profite pour dé";
  }
  /* string 2, char 55 */
  62.962962963%, 63.314696649% {
    content: "J'en profite pour d";
  }
  /* string 2, char 56 */
  63.315696649%, 63.6674303351% {
    content: "J'en profite pour ";
  }
  /* string 2, char 57 */
  63.6684303351%, 64.0201640212% {
    content: "J'en profite pour";
  }
  /* string 2, char 58 */
  64.0211640212%, 64.3728977072% {
    content: "J'en profite pou";
  }
  /* string 2, char 59 */
  64.3738977072%, 64.7256313933% {
    content: "J'en profite po";
  }
  /* string 2, char 60 */
  64.7266313933%, 65.0783650794% {
    content: "J'en profite p";
  }
  /* string 2, char 61 */
  65.0793650794%, 65.4310987654% {
    content: "J'en profite ";
  }
  /* string 2, char 62 */
  65.4320987654%, 65.7838324515% {
    content: "J'en profite";
  }
  /* string 2, char 63 */
  65.7848324515%, 66.1365661376% {
    content: "J'en profit";
  }
  /* string 2, char 64 */
  66.1375661376%, 66.4892998236% {
    content: "J'en profi";
  }
  /* string 2, char 65 */
  66.4902998236%, 66.8420335097% {
    content: "J'en prof";
  }
  /* string 2, char 66 */
  66.8430335097%, 67.1947671958% {
    content: "J'en pro";
  }
  /* string 2, char 67 */
  67.1957671958%, 67.5475008818% {
    content: "J'en pr";
  }
  /* string 2, char 68 */
  67.5485008818%, 67.9002345679% {
    content: "J'en p";
  }
  /* string 2, char 69 */
  67.9012345679%, 68.252968254% {
    content: "J'en ";
  }
  /* string 2, char 70 */
  68.253968254%, 68.60570194% {
    content: "J'en";
  }
  /* string 2, char 71 */
  68.60670194%, 68.9584356261% {
    content: "J'e";
  }
  /* string 2, char 72 */
  68.9594356261%, 69.3111693122% {
    content: "J'";
  }
  /* string 2, char 73 */
  69.3121693122%, 69.6639029982% {
    content: "J";
  }
  /* string 2, char 74 */
  69.6649029982%, 74.0730740741% {
    content: "​";
  }
  /* string 3, char 1 */
  74.0740740741%, 74.5139911817% {
    content: "R";
  }
  /* string 3, char 2 */
  74.5149911817%, 74.9549082892% {
    content: "Re";
  }
  /* string 3, char 3 */
  74.9559082892%, 75.3958253968% {
    content: "Rev";
  }
  /* string 3, char 4 */
  75.3968253968%, 75.8367425044% {
    content: "Reve";
  }
  /* string 3, char 5 */
  75.8377425044%, 76.277659612% {
    content: "Reven";
  }
  /* string 3, char 6 */
  76.278659612%, 76.7185767196% {
    content: "Revene";
  }
  /* string 3, char 7 */
  76.7195767196%, 77.1594938272% {
    content: "Revenez";
  }
  /* string 3, char 8 */
  77.1604938272%, 77.6004109347% {
    content: "Revenez ";
  }
  /* string 3, char 9 */
  77.6014109347%, 78.0413280423% {
    content: "Revenez v";
  }
  /* string 3, char 10 */
  78.0423280423%, 78.4822451499% {
    content: "Revenez vi";
  }
  /* string 3, char 11 */
  78.4832451499%, 78.9231622575% {
    content: "Revenez vit";
  }
  /* string 3, char 12 */
  78.9241622575%, 79.3640793651% {
    content: "Revenez vite";
  }
  /* string 3, char 13 */
  79.3650793651%, 79.8049964727% {
    content: "Revenez vite ";
  }
  /* string 3, char 14 */
  79.8059964727%, 80.2459135802% {
    content: "Revenez vite !";
  }
  /* string 3, char 15 */
  80.2469135802%, 80.6868306878% {
    content: "Revenez vite ! ";
  }
  /* string 3, char 16 */
  80.6878306878%, 90.2988236332% {
    content: "Revenez vite ! ☕";
  }
  /* string 3, char 17 */
  90.2998236332%, 90.6515573192% {
    content: "Revenez vite ! ";
  }
  /* string 3, char 18 */
  90.6525573192%, 91.0042910053% {
    content: "Revenez vite !";
  }
  /* string 3, char 19 */
  91.0052910053%, 91.3570246914% {
    content: "Revenez vite ";
  }
  /* string 3, char 20 */
  91.3580246914%, 91.7097583774% {
    content: "Revenez vite";
  }
  /* string 3, char 21 */
  91.7107583774%, 92.0624920635% {
    content: "Revenez vit";
  }
  /* string 3, char 22 */
  92.0634920635%, 92.4152257496% {
    content: "Revenez vi";
  }
  /* string 3, char 23 */
  92.4162257496%, 92.7679594356% {
    content: "Revenez v";
  }
  /* string 3, char 24 */
  92.7689594356%, 93.1206931217% {
    content: "Revenez ";
  }
  /* string 3, char 25 */
  93.1216931217%, 93.4734268078% {
    content: "Revenez";
  }
  /* string 3, char 26 */
  93.4744268078%, 93.8261604938% {
    content: "Revene";
  }
  /* string 3, char 27 */
  93.8271604938%, 94.1788941799% {
    content: "Reven";
  }
  /* string 3, char 28 */
  94.1798941799%, 94.531627866% {
    content: "Reve";
  }
  /* string 3, char 29 */
  94.532627866%, 94.884361552% {
    content: "Rev";
  }
  /* string 3, char 30 */
  94.885361552%, 95.2370952381% {
    content: "Re";
  }
  /* string 3, char 31 */
  95.2380952381%, 95.5898289242% {
    content: "R";
  }
  /* string 3, char 32 */
  95.5908289242%, 100% {
    content: "​";
  }
}
@keyframes typed {
  /* string 1, char 1 */
  0%, 0.4399171076% {
    content: "E";
  }
  /* string 1, char 2 */
  0.4409171076%, 0.8808342152% {
    content: "En";
  }
  /* string 1, char 3 */
  0.8818342152%, 1.3217513228% {
    content: "En ";
  }
  /* string 1, char 4 */
  1.3227513228%, 1.7626684303% {
    content: "En c";
  }
  /* string 1, char 5 */
  1.7636684303%, 2.2035855379% {
    content: "En co";
  }
  /* string 1, char 6 */
  2.2045855379%, 2.6445026455% {
    content: "En cou";
  }
  /* string 1, char 7 */
  2.6455026455%, 3.0854197531% {
    content: "En cour";
  }
  /* string 1, char 8 */
  3.0864197531%, 3.5263368607% {
    content: "En cours";
  }
  /* string 1, char 9 */
  3.5273368607%, 3.9672539683% {
    content: "En cours ";
  }
  /* string 1, char 10 */
  3.9682539683%, 4.4081710758% {
    content: "En cours d";
  }
  /* string 1, char 11 */
  4.4091710758%, 4.8490881834% {
    content: "En cours de";
  }
  /* string 1, char 12 */
  4.8500881834%, 5.290005291% {
    content: "En cours de ";
  }
  /* string 1, char 13 */
  5.291005291%, 5.7309223986% {
    content: "En cours de c";
  }
  /* string 1, char 14 */
  5.7319223986%, 6.1718395062% {
    content: "En cours de cr";
  }
  /* string 1, char 15 */
  6.1728395062%, 6.6127566138% {
    content: "En cours de cré";
  }
  /* string 1, char 16 */
  6.6137566138%, 7.0536737213% {
    content: "En cours de créa";
  }
  /* string 1, char 17 */
  7.0546737213%, 7.4945908289% {
    content: "En cours de créat";
  }
  /* string 1, char 18 */
  7.4955908289%, 7.9355079365% {
    content: "En cours de créati";
  }
  /* string 1, char 19 */
  7.9365079365%, 8.3764250441% {
    content: "En cours de créatio";
  }
  /* string 1, char 20 */
  8.3774250441%, 8.8173421517% {
    content: "En cours de création";
  }
  /* string 1, char 21 */
  8.8183421517%, 9.2582592593% {
    content: "En cours de création.";
  }
  /* string 1, char 22 */
  9.2592592593%, 9.6991763668% {
    content: "En cours de création..";
  }
  /* string 1, char 23 */
  9.7001763668%, 19.3111693122% {
    content: "En cours de création...";
  }
  /* string 1, char 24 */
  19.3121693122%, 19.6639029982% {
    content: "En cours de création..";
  }
  /* string 1, char 25 */
  19.6649029982%, 20.0166366843% {
    content: "En cours de création.";
  }
  /* string 1, char 26 */
  20.0176366843%, 20.3693703704% {
    content: "En cours de création";
  }
  /* string 1, char 27 */
  20.3703703704%, 20.7221040564% {
    content: "En cours de créatio";
  }
  /* string 1, char 28 */
  20.7231040564%, 21.0748377425% {
    content: "En cours de créati";
  }
  /* string 1, char 29 */
  21.0758377425%, 21.4275714286% {
    content: "En cours de créat";
  }
  /* string 1, char 30 */
  21.4285714286%, 21.7803051146% {
    content: "En cours de créa";
  }
  /* string 1, char 31 */
  21.7813051146%, 22.1330388007% {
    content: "En cours de cré";
  }
  /* string 1, char 32 */
  22.1340388007%, 22.4857724868% {
    content: "En cours de cr";
  }
  /* string 1, char 33 */
  22.4867724868%, 22.8385061728% {
    content: "En cours de c";
  }
  /* string 1, char 34 */
  22.8395061728%, 23.1912398589% {
    content: "En cours de ";
  }
  /* string 1, char 35 */
  23.1922398589%, 23.543973545% {
    content: "En cours de";
  }
  /* string 1, char 36 */
  23.544973545%, 23.896707231% {
    content: "En cours d";
  }
  /* string 1, char 37 */
  23.897707231%, 24.2494409171% {
    content: "En cours ";
  }
  /* string 1, char 38 */
  24.2504409171%, 24.6021746032% {
    content: "En cours";
  }
  /* string 1, char 39 */
  24.6031746032%, 24.9549082892% {
    content: "En cour";
  }
  /* string 1, char 40 */
  24.9559082892%, 25.3076419753% {
    content: "En cou";
  }
  /* string 1, char 41 */
  25.3086419753%, 25.6603756614% {
    content: "En co";
  }
  /* string 1, char 42 */
  25.6613756614%, 26.0131093474% {
    content: "En c";
  }
  /* string 1, char 43 */
  26.0141093474%, 26.3658430335% {
    content: "En ";
  }
  /* string 1, char 44 */
  26.3668430335%, 26.7185767196% {
    content: "En";
  }
  /* string 1, char 45 */
  26.7195767196%, 27.0713104056% {
    content: "E";
  }
  /* string 1, char 46 */
  27.0723104056%, 31.4804814815% {
    content: "​";
  }
  /* string 2, char 1 */
  31.4814814815%, 31.9213985891% {
    content: "J";
  }
  /* string 2, char 2 */
  31.9223985891%, 32.3623156966% {
    content: "J'";
  }
  /* string 2, char 3 */
  32.3633156966%, 32.8032328042% {
    content: "J'e";
  }
  /* string 2, char 4 */
  32.8042328042%, 33.2441499118% {
    content: "J'en";
  }
  /* string 2, char 5 */
  33.2451499118%, 33.6850670194% {
    content: "J'en ";
  }
  /* string 2, char 6 */
  33.6860670194%, 34.125984127% {
    content: "J'en p";
  }
  /* string 2, char 7 */
  34.126984127%, 34.5669012346% {
    content: "J'en pr";
  }
  /* string 2, char 8 */
  34.5679012346%, 35.0078183422% {
    content: "J'en pro";
  }
  /* string 2, char 9 */
  35.0088183422%, 35.4487354497% {
    content: "J'en prof";
  }
  /* string 2, char 10 */
  35.4497354497%, 35.8896525573% {
    content: "J'en profi";
  }
  /* string 2, char 11 */
  35.8906525573%, 36.3305696649% {
    content: "J'en profit";
  }
  /* string 2, char 12 */
  36.3315696649%, 36.7714867725% {
    content: "J'en profite";
  }
  /* string 2, char 13 */
  36.7724867725%, 37.2124038801% {
    content: "J'en profite ";
  }
  /* string 2, char 14 */
  37.2134038801%, 37.6533209877% {
    content: "J'en profite p";
  }
  /* string 2, char 15 */
  37.6543209877%, 38.0942380952% {
    content: "J'en profite po";
  }
  /* string 2, char 16 */
  38.0952380952%, 38.5351552028% {
    content: "J'en profite pou";
  }
  /* string 2, char 17 */
  38.5361552028%, 38.9760723104% {
    content: "J'en profite pour";
  }
  /* string 2, char 18 */
  38.9770723104%, 39.416989418% {
    content: "J'en profite pour ";
  }
  /* string 2, char 19 */
  39.417989418%, 39.8579065256% {
    content: "J'en profite pour d";
  }
  /* string 2, char 20 */
  39.8589065256%, 40.2988236332% {
    content: "J'en profite pour dé";
  }
  /* string 2, char 21 */
  40.2998236332%, 40.7397407407% {
    content: "J'en profite pour déc";
  }
  /* string 2, char 22 */
  40.7407407407%, 41.1806578483% {
    content: "J'en profite pour déco";
  }
  /* string 2, char 23 */
  41.1816578483%, 41.6215749559% {
    content: "J'en profite pour décou";
  }
  /* string 2, char 24 */
  41.6225749559%, 42.0624920635% {
    content: "J'en profite pour découv";
  }
  /* string 2, char 25 */
  42.0634920635%, 42.5034091711% {
    content: "J'en profite pour découvr";
  }
  /* string 2, char 26 */
  42.5044091711%, 42.9443262787% {
    content: "J'en profite pour découvri";
  }
  /* string 2, char 27 */
  42.9453262787%, 43.3852433862% {
    content: "J'en profite pour découvrir";
  }
  /* string 2, char 28 */
  43.3862433862%, 43.8261604938% {
    content: "J'en profite pour découvrir ";
  }
  /* string 2, char 29 */
  43.8271604938%, 44.2670776014% {
    content: "J'en profite pour découvrir l";
  }
  /* string 2, char 30 */
  44.2680776014%, 44.707994709% {
    content: "J'en profite pour découvrir le";
  }
  /* string 2, char 31 */
  44.708994709%, 45.1489118166% {
    content: "J'en profite pour découvrir le ";
  }
  /* string 2, char 32 */
  45.1499118166%, 45.5898289242% {
    content: "J'en profite pour découvrir le S";
  }
  /* string 2, char 33 */
  45.5908289242%, 46.0307460317% {
    content: "J'en profite pour découvrir le SA";
  }
  /* string 2, char 34 */
  46.0317460317%, 46.4716631393% {
    content: "J'en profite pour découvrir le SAS";
  }
  /* string 2, char 35 */
  46.4726631393%, 46.9125802469% {
    content: "J'en profite pour découvrir le SASS";
  }
  /* string 2, char 36 */
  46.9135802469%, 47.3534973545% {
    content: "J'en profite pour découvrir le SASS ";
  }
  /* string 2, char 37 */
  47.3544973545%, 56.9654902998% {
    content: "J'en profite pour découvrir le SASS ✨";
  }
  /* string 2, char 38 */
  56.9664902998%, 57.3182239859% {
    content: "J'en profite pour découvrir le SASS ";
  }
  /* string 2, char 39 */
  57.3192239859%, 57.670957672% {
    content: "J'en profite pour découvrir le SASS";
  }
  /* string 2, char 40 */
  57.671957672%, 58.023691358% {
    content: "J'en profite pour découvrir le SAS";
  }
  /* string 2, char 41 */
  58.024691358%, 58.3764250441% {
    content: "J'en profite pour découvrir le SA";
  }
  /* string 2, char 42 */
  58.3774250441%, 58.7291587302% {
    content: "J'en profite pour découvrir le S";
  }
  /* string 2, char 43 */
  58.7301587302%, 59.0818924162% {
    content: "J'en profite pour découvrir le ";
  }
  /* string 2, char 44 */
  59.0828924162%, 59.4346261023% {
    content: "J'en profite pour découvrir le";
  }
  /* string 2, char 45 */
  59.4356261023%, 59.7873597884% {
    content: "J'en profite pour découvrir l";
  }
  /* string 2, char 46 */
  59.7883597884%, 60.1400934744% {
    content: "J'en profite pour découvrir ";
  }
  /* string 2, char 47 */
  60.1410934744%, 60.4928271605% {
    content: "J'en profite pour découvrir";
  }
  /* string 2, char 48 */
  60.4938271605%, 60.8455608466% {
    content: "J'en profite pour découvri";
  }
  /* string 2, char 49 */
  60.8465608466%, 61.1982945326% {
    content: "J'en profite pour découvr";
  }
  /* string 2, char 50 */
  61.1992945326%, 61.5510282187% {
    content: "J'en profite pour découv";
  }
  /* string 2, char 51 */
  61.5520282187%, 61.9037619048% {
    content: "J'en profite pour décou";
  }
  /* string 2, char 52 */
  61.9047619048%, 62.2564955908% {
    content: "J'en profite pour déco";
  }
  /* string 2, char 53 */
  62.2574955908%, 62.6092292769% {
    content: "J'en profite pour déc";
  }
  /* string 2, char 54 */
  62.6102292769%, 62.961962963% {
    content: "J'en profite pour dé";
  }
  /* string 2, char 55 */
  62.962962963%, 63.314696649% {
    content: "J'en profite pour d";
  }
  /* string 2, char 56 */
  63.315696649%, 63.6674303351% {
    content: "J'en profite pour ";
  }
  /* string 2, char 57 */
  63.6684303351%, 64.0201640212% {
    content: "J'en profite pour";
  }
  /* string 2, char 58 */
  64.0211640212%, 64.3728977072% {
    content: "J'en profite pou";
  }
  /* string 2, char 59 */
  64.3738977072%, 64.7256313933% {
    content: "J'en profite po";
  }
  /* string 2, char 60 */
  64.7266313933%, 65.0783650794% {
    content: "J'en profite p";
  }
  /* string 2, char 61 */
  65.0793650794%, 65.4310987654% {
    content: "J'en profite ";
  }
  /* string 2, char 62 */
  65.4320987654%, 65.7838324515% {
    content: "J'en profite";
  }
  /* string 2, char 63 */
  65.7848324515%, 66.1365661376% {
    content: "J'en profit";
  }
  /* string 2, char 64 */
  66.1375661376%, 66.4892998236% {
    content: "J'en profi";
  }
  /* string 2, char 65 */
  66.4902998236%, 66.8420335097% {
    content: "J'en prof";
  }
  /* string 2, char 66 */
  66.8430335097%, 67.1947671958% {
    content: "J'en pro";
  }
  /* string 2, char 67 */
  67.1957671958%, 67.5475008818% {
    content: "J'en pr";
  }
  /* string 2, char 68 */
  67.5485008818%, 67.9002345679% {
    content: "J'en p";
  }
  /* string 2, char 69 */
  67.9012345679%, 68.252968254% {
    content: "J'en ";
  }
  /* string 2, char 70 */
  68.253968254%, 68.60570194% {
    content: "J'en";
  }
  /* string 2, char 71 */
  68.60670194%, 68.9584356261% {
    content: "J'e";
  }
  /* string 2, char 72 */
  68.9594356261%, 69.3111693122% {
    content: "J'";
  }
  /* string 2, char 73 */
  69.3121693122%, 69.6639029982% {
    content: "J";
  }
  /* string 2, char 74 */
  69.6649029982%, 74.0730740741% {
    content: "​";
  }
  /* string 3, char 1 */
  74.0740740741%, 74.5139911817% {
    content: "R";
  }
  /* string 3, char 2 */
  74.5149911817%, 74.9549082892% {
    content: "Re";
  }
  /* string 3, char 3 */
  74.9559082892%, 75.3958253968% {
    content: "Rev";
  }
  /* string 3, char 4 */
  75.3968253968%, 75.8367425044% {
    content: "Reve";
  }
  /* string 3, char 5 */
  75.8377425044%, 76.277659612% {
    content: "Reven";
  }
  /* string 3, char 6 */
  76.278659612%, 76.7185767196% {
    content: "Revene";
  }
  /* string 3, char 7 */
  76.7195767196%, 77.1594938272% {
    content: "Revenez";
  }
  /* string 3, char 8 */
  77.1604938272%, 77.6004109347% {
    content: "Revenez ";
  }
  /* string 3, char 9 */
  77.6014109347%, 78.0413280423% {
    content: "Revenez v";
  }
  /* string 3, char 10 */
  78.0423280423%, 78.4822451499% {
    content: "Revenez vi";
  }
  /* string 3, char 11 */
  78.4832451499%, 78.9231622575% {
    content: "Revenez vit";
  }
  /* string 3, char 12 */
  78.9241622575%, 79.3640793651% {
    content: "Revenez vite";
  }
  /* string 3, char 13 */
  79.3650793651%, 79.8049964727% {
    content: "Revenez vite ";
  }
  /* string 3, char 14 */
  79.8059964727%, 80.2459135802% {
    content: "Revenez vite !";
  }
  /* string 3, char 15 */
  80.2469135802%, 80.6868306878% {
    content: "Revenez vite ! ";
  }
  /* string 3, char 16 */
  80.6878306878%, 90.2988236332% {
    content: "Revenez vite ! ☕";
  }
  /* string 3, char 17 */
  90.2998236332%, 90.6515573192% {
    content: "Revenez vite ! ";
  }
  /* string 3, char 18 */
  90.6525573192%, 91.0042910053% {
    content: "Revenez vite !";
  }
  /* string 3, char 19 */
  91.0052910053%, 91.3570246914% {
    content: "Revenez vite ";
  }
  /* string 3, char 20 */
  91.3580246914%, 91.7097583774% {
    content: "Revenez vite";
  }
  /* string 3, char 21 */
  91.7107583774%, 92.0624920635% {
    content: "Revenez vit";
  }
  /* string 3, char 22 */
  92.0634920635%, 92.4152257496% {
    content: "Revenez vi";
  }
  /* string 3, char 23 */
  92.4162257496%, 92.7679594356% {
    content: "Revenez v";
  }
  /* string 3, char 24 */
  92.7689594356%, 93.1206931217% {
    content: "Revenez ";
  }
  /* string 3, char 25 */
  93.1216931217%, 93.4734268078% {
    content: "Revenez";
  }
  /* string 3, char 26 */
  93.4744268078%, 93.8261604938% {
    content: "Revene";
  }
  /* string 3, char 27 */
  93.8271604938%, 94.1788941799% {
    content: "Reven";
  }
  /* string 3, char 28 */
  94.1798941799%, 94.531627866% {
    content: "Reve";
  }
  /* string 3, char 29 */
  94.532627866%, 94.884361552% {
    content: "Rev";
  }
  /* string 3, char 30 */
  94.885361552%, 95.2370952381% {
    content: "Re";
  }
  /* string 3, char 31 */
  95.2380952381%, 95.5898289242% {
    content: "R";
  }
  /* string 3, char 32 */
  95.5908289242%, 100% {
    content: "​";
  }
}
@-webkit-keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}
@keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}
* {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  background-image: radial-gradient(rgba(255, 255, 255, 0.125), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #000, #000 2px, #111 3px);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover, 100% 3px;
  font-size: calc(10px + 2vw);
  font-family: "VT323", monospace, sans-serif;
  color: #3f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*&::before { // just generating some useful stats here 👋🏼
  	content: "3 strings / 76 chars / 22.68s duration";
  	@media (max-width: 575px) {
  		content: "3 strings \A 76 chars \A 22.68s duration";
  	}
  	display: block;
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	padding: 3px 0;
  	background: #00f; // aquaman blue
  	color: #fff; // Brandon-McConnell white
  	text-align: center;
  	font-size: 18px;
  	letter-spacing: 0.7px;
  	white-space: pre-wrap;
  }*/
}
body::after {
  content: "​";
  position: relative;
  top: -13px;
  display: inline-block;
  padding-right: 3px;
  padding-right: calc(3px + 0.1vw);
  border-right: 10px solid rgba(51, 255, 51, 0.75);
  border-right: calc(1.1vw + 4px) solid rgba(51, 255, 51, 0.75);
  text-shadow: 0 0 5px rgba(51, 255, 51, 0.75);
  white-space: nowrap;
  -webkit-animation: typed 22.68s linear 1s infinite, beam-blink 1s infinite;
          animation: typed 22.68s linear 1s infinite, beam-blink 1s infinite;
}
@media (max-width: 575px) {
  body::after {
    top: -33px;
  }
}/*# sourceMappingURL=animation.css.map */